body {
	background-color: transparent !important;
	background: url(../img/bg.jpg) repeat center center fixed;
	background-size: cover;
	font-family: 'Lato', sans-serif;
}

.cd-nugget-info {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 50px;
	top: 0;
	left: 0;
}
.cd-nugget-info a {
	position: relative;
	font-size: 14px;
	color: #718ca1;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}
.cd-nugget-info a:hover {
	opacity: .8;
}
.cd-nugget-info span {
	vertical-align: middle;
	display: inline-block;
}
.cd-nugget-info span svg {
	display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
	fill: #718ca1;
}

body {
	padding-bottom: 20px;
}

.cd-timeline__read-more.btn {
	font-size: 1.75em !important;
}

.cd-timeline__date {
	color: white !important;
	font-size: 1.7em;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.cd-timeline__date {
		color: black !important;
		font-size: 1.3em;
	}
}

@media only screen and (max-width: 1170px) {
	.cd-timeline__date {
		color: black !important;
		font-size: 1.3em;
	}
}

.button {
	font-size: 1.5rem;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgb(201, 4, 37);
	border-radius: 5px;
	padding: 7px;
	margin: 0 10px;
	transition: background-color 0.35s ease-out, color 0.35s ease-out;
	box-shadow: 0 5px 15px rgba(255, 0, 0, 0.603);
}

.button:hover {
	background-color: #7D061A
}

.button a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.button a, .button a:link, .button a:hover, .button a:active, .button a:visited, .register a, .register a:link, .register a:hover, .register a:active, .register a:visited {
	color: rgb(255, 255, 255) !important;
	text-decoration: none;
}

.register .button {
	font-size: 2em;
	padding: 10px 15px;
}

@media only screen and (max-width: 768px) {
	.register .button {
		font-size: 1.15em;
		padding: 10px 15px;
	}
}

.bb-primary {
	color: white;
	background-color:  rgb(201, 4, 37);
}

.bb-primary:hover {
	background-color: #7D061A
}

.row {
	margin-top: 25px;
}

.container h5 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.social h5{
	font-size: 1em;
	color: white;
}

.social .button {
	font-size: 1.6em;
}